.direnv/
result
result-*
**/disabled/
.terraform/
.terragrunt-cache/
orgs/*/backend.tf
orgs/*/provider.tf
orgs/*/versions.tf
orgs/*/locals.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!example.tfvars
.env
.env.local
.DS_Store
.pre-commit-config.yaml
